<ion-view view-title="Addons">
  <ion-content class="padding">
    <div class="row-top">
        <div class="col-center text-center"><h4>Total: &nbsp;{{total}}</h4></div>
    </div>
     <div ng-repeat="addon in addons">
         <h5>{{ addon.pricing_quantity }}</h5>
        <div class="row" ng-repeat="item in addon.addons">
            <div class="col">
                <div class="row">
                    <div class="col"> {{ item.name }}</div>
                </div>
                <div class="row">
                    <div class="col-15"  style="padding-top:10px;">Rs.{{ item.price }}</div>
                    <div class="col-33">
                        <div class="row">
                            <div class="col">
                                <a ng-click="decr($index, $parent.$index, item)" class="button button-small button-icon icon ion-ios-minus-outline"></a>
                            </div>
                            <div class="col">
                                <span style="width:8px;padding-bottom:8px;">{{ item.quantity }}</span>
                            </div>
                            <div class="col">
                                <a ng-click="incr($index, $parent.$index, item)" class="button button-small button-icon icon ion-ios-plus-outline"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-offset-10">
                        <label class="item item-input">
                            <input type="text" placeholder="Comments" value="{{ item.comments }}" ng-blur="updateComment($index, $parent.$index, $event)">
                        </label>
                    </div>
                </div>                
            </div>
        </div>   
     </div>
  </ion-content>
  <ion-footer-bar  class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center">
        <button class="button button-royal button-block button-full text-center" ng-click="gotoSchedule()">Next</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
