<ion-modal-view>
  <form name="editAddressForm" novalidate>
    <ion-header-bar class="bar-stable fix-buttons">
      <a class="button" ng-click="closeModal()">Cancel</a>
      <h1 class="title">Edit Address</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Address" required ng-model="address.address" value="{{address.address}}">
          </label>
          <label class="has-error form-error" ng-if="errors.address.length > 0"> {{errors.address[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Locality Name" required ng-model="address.locality_name" value="{{address.locality_name}}">
          </label>
          <label class="has-error form-error" ng-if="errors.locality_name.length > 0"> {{errors.locality_name[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Landmark" required ng-model="address.landmark" value="{{address.landmark}}">
          </label>
          <label class="has-error form-error" ng-if="errors.landmark.length > 0"> {{errors.landmark[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large item-select" >
              <select style="position:relative;">
                  <option value="{{address.city}}">{{address.city_name}}</option>
              </select>
          </label>
          <label class="has-error form-error" ng-if="errors.city.length > 0"> {{errors.city[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Pincode" required ng-model="address.pincode" value="{{address.pincode}}">
          </label>
          <label class="has-error form-error" ng-if="errors.pincode.length > 0"> {{errors.pincode[0]}}</label>
        </div>
      </div>

      <div class="row">
        <button class="button button-royal button-block" ng-click="updateAddress()">Update Address</button>
      </div>

    </ion-content>
  </form>
</ion-modal-view>
