<ion-view>
     <ion-content>
         <div class="introSlide">
               <div id="introBg1" class="introSlideBg"></div>
         </div>
     </ion-content>
       <ion-footer-bar class="bar-royal">
      <div class="row row-center buttons-big">
          <div class="col col-center" style="border-right: 0.1em solid;">
            <button class="button button-full button-royal button-block" ng-click="signup()">SIGN UP</button>
          </div>
          <div class="col col-center">
            <button class="button button-full button-royal button-block" ng-click="login()">LOG IN</button>
          </div>
      </div>
    </ion-footer-bar>
</ion-view>