

<ion-view>
  <div class="bar bar-header bar-light">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back">&nbsp;&nbsp;</i>
    </button>
    <h1 class="title">
        Log in
    </h1>
  </div>
  <ion-content class="has-header">
    <div class="form-error" ng-if="errorMessage">{{errorMessage}}</div>
    <form name="loginForm"  novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="youremail@example.com"  ng-model="form.email" autocapitalize="off"
                autocorrect="off">
          <span class="form-error" ng-if="form.errors.username.length > 0">{{form.errors.username[0]}}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="text" ng-if="showPasswordIsChecked"  minlength="6" ng-model="form.passwd" required autocapitalize="off"
                autocorrect="off">
          <input type="password" ng-if="!showPasswordIsChecked" minlength="6" ng-model="form.passwd" required autocapitalize="off"
                autocorrect="off">
          <span class="form-error" ng-if="form.errors.passwd.length > 0">{{form.errors.passwd[0]}}</span>
        </label>
        <ion-checkbox ng-model="showPasswordIsChecked">Show password</ion-checkbox>

        <!--<div class="row row-center">-->
          <!--<div class="col col-center">-->
            <!--<a class="facebook-sign-in button  button-positive" ng-click="facebookSignIn()">Login with Facebook</a>-->
          <!--</div>-->
        <!--</div>-->

      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="bar-royal">
    <div class="row row-center buttons-big">
      <!--<div class="col col-center" style="border-right: 0.1em solid;">-->
      <div class="col col-center">
        <button class="button button-full button-royal button-block" ng-click="login()">LOG IN</button>
      </div>
      <!--<div class="col col-center" >
        <button class="button button-full button-royal button-block" ng-click="signup()">SIGN UP</button>
      </div>-->
    </div>
  </ion-footer-bar>

</ion-view>
