<ion-view view-title="Order Details">
  <ion-content>

    <ul class="list">

      <li class="item item-text-wrap">

        <div class="row">
          <div class="col">
            <h3>Order Details:</h3>
            <div class="row padding">
              <div class="col">Order Number: {{data.order.order_number}}</div>
            </div>
            <div class="row padding">
                <div class="col">Services:</div>
                <div class="col" ng-repeat="service in data.order.services">
                  {{service}}
                </div>
            </div>
            <div class="row padding">
              <div class="col">Invoice Amount: {{data.order.total}}</div>
            </div>
          </div>
        </div>

      </li>

      <li class="item item-text-wrap">
        <h3><i class="ion-ios-location padding"></i> Address:</h3>
        <div class="row">
          <div class="col">
            <p>{{data.order.address}}</p>
          </div>
        </div>
      </li>

      <li class="item item-text-wrap">
        <h3><i class="ion-calendar padding"></i> Pickup Date & Time:</h3>
        <div class="row">
          <div class="col">
            <p>{{data.order.pickup_slot}}</p>
          </div>
        </div>
      </li>

      <li class="item item-text-wrap">
        <h3><i class="ion-calendar padding"></i> Delivery Date & Time:</h3>
        <div class="row">
          <div class="col">
            <p>{{data.order.delivery_slot}}</p>
          </div>
        </div>
      </li>

    </ul>

  </ion-content>


</ion-view>
