<ion-view>
  <div class="bar bar-header bar-light">
    <h1 class="title">Verify OTP</h1>
  </div>
  <ion-content class="has-header">
    <div class="form-error" ng-if="errorMessage">{{errorMessage}}</div>
    <form name="verify-otp-form"  novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <input type="text" placeholder="Enter your OTP"  ng-model="form.otp">
        </label>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center" style="border-right: 0.1em solid;">
        <button class="button button-full button-royal button-block" ng-click="verify()">Verify</button>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
