<ion-view view-title="Create Schedule">
  <ion-content>

      <div class="row row-no-padding">
          <div class="card col">
            <div class="item item-divider">
              Address:
            </div>
            <div class="item item-text-wrap" ng-if="slotsData.address">
              {{slotsData.address}}
            </div>
            <div class="item item-text-wrap" ng-if="!slotsData.address">
              <button class="button button-stable button-full" ng-click="addAddress()">Add Address</button>
            </div>
          </div>
      </div>

      <div class="row row-no-padding">
        <div class="card col">
          <div class="item item-divider">
            Pickup Slot
          </div>
          <div class="item item-text-wrap slot-select">
            <label class="item item-input item-select" ng-if="washType == 'schedule'">
            <select
              ng-model="data.pickup_slot"
              ng-options="pickup as pickup[1] for pickup in slotsData.pickup_slots track by pickup[0]"
              ng-change="updateDeliverySlot()"
              >
              <option value="">Select a slot</option>
            </select>
            </label>
            <label class="item item-input" ng-if="washType == 'quick'">
                <p>
                    {{slotsData.pickup_slots}}
                </p>
            </label>
          </div>
        </div>
      </div>

    <div class="row row-no-padding">
      <div class="card col">
        <div class="item item-divider">
          Delivery Slot
        </div>
        <div class="item item-text-wrap">
          <label class="item item-input item-select slot-select" ng-if="washType == 'schedule'">
          <select ng-model="data.delivery_slot">
            <option value="">Select a slot</option>
            <option ng-repeat="slot in selectData.deliverySlots" value="{{slot[0]}}">{{slot[1]}}</option>
          </select>
            </label>
            <label class="item item-input" ng-if="washType == 'quick'">
                <p>
                    {{slotsData.delivery_slots}}
                </p>
            </label>
        </div>
      </div>
    </div>


    <div class="row row-no-padding">
      <div class="card col">

        <div class="item item-divider">
          Special Instructions
        </div>

        <div class="item item-input item-text-wrap">
            <textarea class="item-input" ng-model="data.special_instructions">

            </textarea>
        </div>

      </div>
    </div>

  </ion-content>

  <ion-footer-bar  class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center">
        <button class="button button-royal button-block button-full text-center" ng-click="gotoPayment()">Next</button>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
