<ion-modal-view>
  <form name="addressForm" novalidate>
    <ion-header-bar class="bar-positive fix-buttons">
      <a class="button" ng-click="closeModal()">Cancel</a>
      <h1 class="title">Add Address</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">

        <div class="row">
          <div class="col">
            <label class="item item-input large">
              <input type="text" placeholder="First Name" required ng-model="address.first_name">
            </label>
            <label class="has-error form-error" ng-if="address.errors.first_name.length > 0"> {{address.errors.first_name[0]}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label class="item item-input large">
              <input type="text" placeholder="Last Name" required ng-model="address.last_name">
            </label>
            <label class="has-error form-error" ng-if="address.errors.last_name.length > 0"> {{address.errors.last_name[0]}}</label>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Address" required ng-model="address.address">
          </label>
          <label class="has-error form-error" ng-if="address.errors.address.length > 0"> {{address.errors.address[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Locality" required ng-model="address.locality_name">
          </label>
          <label class="has-error form-error" ng-if="address.errors.locality_name.length > 0"> {{address.errors.locality_name[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Landmark" ng-model="address.landmark">
          </label>
          <label class="has-error form-error" ng-if="address.errors.landmark.length > 0"> {{address.errors.landmark[0]}}</label>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="number" placeholder="Pincode" ng-minlength="6" ng-model="address.pincode">
          </label>
          <label class="has-error form-error" ng-if="address.errors.pincode.length > 0"> {{address.errors.pincode[0]}}</label>

        </div>
      </div>

      <div class="row">
        <button class="button button-royal button-block" ng-click="saveAddress()">Save Address</button>
      </div>

    </ion-content>
  </form>
</ion-modal-view>
