<ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-chevron-left"  ng-click="goBack()">
         Back
      </button>
    </ion-nav-buttons>
    </ion-nav-bar>
  
      <ion-content has-header="true" style="padding:10px;margin-top:50px;">
        <h3 style="text-align:center;"> Invite And Earn</h3>

        <div style="padding:20px; background-color:#f2f2f2;">

            <p style="font-weight:bold;margin-top:10%;">
                SHARE YOUR REFERRAL LINK: <br/><br/>
                <!-- <a href="http://www.laundrymate.in/register/?ref_id=Xg">http://www.laundrymate.in/register/?ref_id=Xg</a> -->
            </p>


                <a class="button button-block button-positive icon-left ion-social-facebook" href="{{fb_url}}">
                    Share on Facebook
                </a>

                <a class="button button-block button-calm icon-left ion-social-twitter" href="{{twitter_url}}">
                        Share on Twitter
                </a>

                <a class="button  button-block button-balanced icon-left ion-email" ng-click="openEmailComposer()">
                        Email
                </a>

                <!-- <button class="button  button-block button-dark icon-left ion-clipboard">
                        Copy Link
                </button> -->

        </div>

        <p style="margin-top:20px;">
        Referral bonus is paid after first order is placed is successful. <a ui-sref="referralinfo()">See How it works.</a>
        </p>

      </ion-content>
  