<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list class="menu-list">
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
            <div class="user-image-container">
              <pre-img ratio="_1_1" helper-class="rounded-image">
                <img class="user-image" ng-src="{{user.profile_img}}" spinner-on-load>
            	</pre-img>
            </div>
            <h2 class="greeting">{{user.name}}</h2>
            <p class="message">{{user.mobile}}</p>
        </ion-item>
        <!-- <ion-item menu-close ng-click="scheduleWash()">
          SCHEDULE A WASH
        </ion-item>
        <ion-item menu-close ng-click="quickWash()">
          QUICK WASH
        </ion-item> -->
        <ion-item menu-close ng-click="home()">
          HOME
        </ion-item>
        <ion-item menu-close ng-click="profile()">
          PROFILE
        </ion-item>
        <ion-item menu-close ng-click="orders()">
          MY ORDERS
        </ion-item>
        <ion-item menu-close ng-click="pricing()">
          OUR PRICING
        </ion-item>
        <ion-item menu-close ng-click="faqs()">
          FAQ
        </ion-item>
        <ion-item menu-close ng-click="contactUs()">
          CONTACT US
        </ion-item>
        <ion-item  menu-close ng-click="logout()">
          LOGOUT
        </ion-item>
        <ion-item menu-close ng-click="contactUs()" class="side-menu-logo">
            <pre-img>
                <img ng-src="img/lm_logo_small.png" />
            </pre-img>
            <p class="app-version">
                APP VERSION 2.6
            </p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
