<ion-view view-title="Order Review">
  <ion-content>

      <ul class="list">

        <!-- <li class="item">

          <div class="row">
            <div class="col">
              <h3>Service Types:</h3>
              <div class="row">
                <div class="col" ng-repeat="service in data.order.services">{{service}}</div>
              </div>
            </div>
          </div>

        </li> -->
        <li class="item item-text-wrap">
          <h3><i class="ion-ios-location padding"></i> Address:</h3>
          <div class="row">
              <div class="col">
                <p>{{data.order.address}}</p>
              </div>
          </div>
        </li>

        <li class="item item-text-wrap">
          <h3><i class="ion-calendar padding"></i> Pickup Date & Time:</h3>
          <div class="row">
            <div class="col">
              <p>{{data.order.pickup_slot}}</p>
            </div>
          </div>
        </li>

        <li class="item item-text-wrap">
          <h3><i class="ion-calendar padding"></i> Delivery Date & Time:</h3>
          <div class="row">
            <div class="col">
              <p>{{data.order.delivery_slot}}</p>
            </div>
          </div>
        </li>

        <li class="item item-text-wrap">
          <h3><i class="ion-calendar padding"></i> Payment Method:</h3>
          <div class="row">
            <div class="col">
              <p>{{data.paymentMethod}}</p>
            </div>
          </div>
        </li>

      </ul>

  </ion-content>

  <ion-footer-bar  class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center">
        <button class="button button-royal button-block button-full text-center" ng-click="createOrder()">Confirm</button>
      </div>
    </div>
  </ion-footer-bar>


</ion-view>
