  <ion-nav-bar class="bar-stable">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-chevron-left"  ng-click="goBack()">
       Back
    </button>
  </ion-nav-buttons>
  </ion-nav-bar

<ion-view title="Our Pricing">
    <ion-content>
        <div class="list list-inset" ng-repeat="section in pricing">
            <div class="item wrap item-text-wrap" ng-repeat="row in section" style="font-size:0.70rem;word-wrap: break-word;">
                <div class="row">
                    <div  class="col" ng-class="{'col-40': $index==0}" ng-repeat="col in row track by $index">{{col}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>