<ion-view title="Our Pricing">
    <ion-content>
        <div class="list list-inset" ng-repeat="section in pricing">
            <div class="item wrap item-text-wrap" ng-repeat="row in section" style="font-size:0.70rem;word-wrap: break-word;">
                <div class="row">
                    <div  class="col" ng-class="{'col-40': $index==0}" ng-repeat="col in row track by $index">{{col}}</div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar  class="bar-royal">
      <div class="row row-center buttons-big">
        <div class="col col-center">
          <button class="button button-royal button-block button-full text-center" ng-click="gotoHome()">SCHEDULE A WASH</button>
        </div>
      </div>
    </ion-footer-bar>
</ion-view>