<ion-view>
  <div class="bar bar-header bar-light">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back">&nbsp;&nbsp;</i> 
    </button>
    <h1 class="title">Get a Laundrymate Account</h1>
  </div>
  <ion-content class="has-header">
    <form name="signupForm"  novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="youremail@example.com"  ng-model="form.email">
          <span class="form-error" ng-if="form.errors.email.length > 0">{{form.errors.email[0]}}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password (minimum 6 characters) </span>
          <input type="password" placeholder="" ng-minlength="6"   ng-model="form.password">
          <span class="form-error" ng-if="form.errors.password.length > 0">{{form.errors.password[0]}}</span>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Re-enter Password</span>
          <input type="password" placeholder="" ng-minlength="6" ng-model="form.repeat_password">
          <span class="form-error" ng-if="form.errors.repeat_password.length > 0">{{form.errors.repeat_password[0]}}</span>
        </label>
        <!-- <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Firstname Lastname" ng-model="form.full_name">
          <span class="form-error" ng-if="form.errors.full_name.length > 0">{{form.errors.full_name[0]}}</span>
        </label> -->
        <label class="item item-input item-stacked-label">
          <span class="input-label">Enter 10 digit mobile number</span>
          <input type="number" placeholder=""  ng-model="form.mobile">
          <span class="form-error" ng-if="form.errors.mobile.length > 0">{{form.errors.mobile[0]}}</span>
        </label>
          <ion-checkbox  ng-model="form.terms_condition" >I agree to the Terms of Service</ion-checkbox>
        <span class="form-error" ng-if="form.errors.terms_condition.length > 0">{{form.errors.terms_condition[0]}}</span>
      </div>
    </form>

  </ion-content>

  <ion-footer-bar  class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center">
        <button class="button button-full button-block" ng-click="signup()" ng-disabled="signInDisabled">SIGN UP</button>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
