<ion-modal-view>
  <form name="editProfileForm" novalidate>
    <ion-header-bar class="bar-stable fix-buttons">
      <a class="button" ng-click="closeModal()">Cancel</a>
      <h1 class="title">Edit Profile</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="First Name" required ng-model="user.first_name">
          </label>
          <label class="has-error form-error" ng-if="user_errors.first_name.length > 0"> {{user_errors.first_name[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Last Name" required ng-model="user.last_name">
          </label>
          <label class="has-error form-error" ng-if="user_errors.last_name.length > 0"> {{user_errors.last_name[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="email" placeholder="Email" required ng-model="user.email">
          </label>
          <label class="has-error form-error" ng-if="user_errors.email.length > 0"> {{user_errors.email[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Mobile" required ng-model="user.mobile">
          </label>
          <label class="has-error form-error" ng-if="user_errors.mobile.length > 0"> {{user_errors.mobile[0]}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="text" placeholder="Date of birth. Format: dd/mm/yy. Eg: 10/02/90" required ng-model="user.dob">
          </label>
          <label class="has-error form-error" ng-if="user_errors.dob.length > 0"> {{user_errors.dob[0]}}</label>
        </div>
      </div>



      <div class="row">
        <button class="button button-royal button-block" ng-click="updateProfile()">Update Profile</button>
      </div>

    </ion-content>
  </form>
</ion-modal-view>
