<ion-nav-bar class="bar-positive">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-arrow-left-c"  ng-click="goBack()">
       Back
    </button>
  </ion-nav-buttons>
  </ion-nav-bar>

<ion-view title="How We Work">
    <h3>How We Work</h3>
    <ion-content has-header="true" style="padding:5px;margin-top:50px;">
      <div class="video-container">
        <iframe width="350" height="197" src="https://www.youtube.com/embed/84v4-2oyPs0?autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </ion-content>
</ion-view>