<ion-view>
     <ion-content>

         <div class="introSlideContainer" scroll="false">
             <ion-slide-box>
               <ion-slide>
                   <div class="introSlide">
                       <div id="introBg1" class="introSlideBg"></div>
                   </div>
               </ion-slide>
               <ion-slide>
                   <div class="introSlide">
                      <div id="introStep1" class="introSlideBg"></div>
                   </div>
               </ion-slide>
               <ion-slide>
                   <div class="introSlide">
                      <div id="introStep2" class="introSlideBg"></div>
                   </div>
               </ion-slide>
               <ion-slide>
                   <div class="introSlide">
                      <div id="introStep3" class="introSlideBg"></div>
                   </div>
               </ion-slide>
               <ion-slide>
                   <div class="introSlide">
                      <div id="introStep4" class="introSlideBg"></div>
                   </div>
               </ion-slide>
               <ion-slide>
                   <div class="introSlide">
                      <div id="introStep5" class="introSlideBg"></div>
                   </div>
               </ion-slide>
                <ion-slide>
                   <div class="introSlide">
                      <div id="introStep6" class="introSlideBg"></div>
                   </div>
               </ion-slide>
             </ion-slide-box>
         </div>

        <div class="row">
            <div class="col">
            </div>

        </div>

     </ion-content>

    <ion-footer-bar class="bar-royal">
      <div class="row row-center buttons-big">
          <div class="col col-center" style="border-right: 0.1em solid;">
            <button class="button button-full button-royal button-block" ng-click="signup()">SIGN UP</button>
          </div>
          <div class="col col-center">
            <button class="button button-full button-royal button-block" ng-click="login()">LOG IN</button>
          </div>
      </div>
    </ion-footer-bar>
</ion-view>
