<ion-view title="Manage Address">
    <ion-content>
        <div class="list card">

              <div class="item text-center">
                  <address>
                      <p>{{address.address}}</p>
                      <p>{{address.locality_name}}</p>
                      <p>{{address.landmark}}</p>
                      <p>{{address.city_name}} - {{address.pincode}}</p>
                  </address>
              </div>

              <div class="item item-body">
                <p>
                      <button class="button button-stable button-full" ng-click="editAddress()">Edit Address</button>
                </p>
              </div>
        </div>
    </ion-content>
</ion-view>
