<ion-view view-title="My Orders">
    <ion-content>
        <div class="button-bar">
          <a class="button button-royal" ng-class="{'active': activeTab == 'active'}" ng-click="setTab('active')">Active Orders</a>
          <a class="button button-royal" ng-class="{'active': activeTab == 'history'}" ng-click="setTab('history')">Orders History</a>
        </div>
        <div class='active-orders-tab' ng-if="activeTab == 'active'">
            <div class="card" ng-repeat="order in active_orders">
              <div class="item">
                Order Number: {{order.order_number}}
              </div>
              <div class="item">
                <p>
                    Pickup: {{order.pickup_slot}}
                </p>
                <br/>
                <p>
                    Delivery: {{order.delivery_slot}}
                </p>
              </div>
              <div class="item">

                <div class="bar bar-footer">
                  <p class="padding-top padding-left">Status: {{order.status}}</p>
                  <button class="button button-royal" style="margin-left:10%;" ng-click="viewOrderDetails({{order.id}})">View Details</button>
                  <button class="button button-stable" ng-click="cancelOrder({{order.id}})" ng-if="order.status == 'Open'">Cancel Order</button>
                </div>

              </div>
            </div>
        </div>
        <div class='orders-history-tab' ng-if="activeTab == 'history'">
            <div class="card" ng-repeat="order in orders_history">
              <div class="item">
                Order Number: {{order.order_number}}
              </div>
              <div class="item">
                <p>
                    Pickup: {{order.pickup_slot}}
                </p>
                <br/>
                <p>
                    Delivery: {{order.delivery_slot}}
                </p>
              </div>
              <div class="item">
                <p>
                Status: {{order.status}}
                <!--<button class="button button-clear button-small">Cancel Order</button>-->
              </p>
              </div>
            </div>
        </div>
    </ion-content>
</ion-view>
