<ion-view view-title="Laundrymate">

<ion-content >

    <div style="height: 200px;" ng-if="banners">
     <ion-slides  options="options">
         <ion-slide-page ng-repeat="banner in banners">
             <img src="{{banner.img}}" alt="Banner" style="height:160px !important;" />
             <button style="position: absolute;bottom: 45px; left: 16px;" class="button button-royal button-small" ng-click="gotoScheduleWash()" ng-if="banner.has_link">Schedule Wash</button>
         </ion-slide-page>
     </ion-slides>
    </div>

    <div>
        <div style="float:left;width:49%; padding:0;" ng-click="referralInfo()">
            <img src="img/refer_banner.jpg" style="width:100%"  />
        </div>
        <!--<div style="float:right;width:49%;"  ng-click="offersInfo()">-->
	<div style="float:right;width:49%;">
            <img src="img/customer_speak.jpg"  style="width:100%"  />
        </div>
    </div>

    <div style="clear:both;"></div>
    
    <div ng-click="howwework()">
        <img src="img/watch_how_we_work_banner.jpg" />
    </div>

     <div ng-click="pricelistinfo()">
        <img src="img/pricelist_banner.jpg" style="width:100%;" />
    </div>

    <div  ng-if="!guest">
        <div style="float:left;width:49%;" ng-click="gotoScheduleWash()">
            <img src="img/schedulewash_banner.jpg" style="width:100%"  />
        </div>
        <div style="float: right;width:49%;" ng-click="gotoQuickWash()">
            <img src="img/quickwash_banner.jpg"   style="width:100%" />
        </div>
    </div>

   <div style="clear:both;"></div>

   <div ng-if="guest" style="padding:5px;">
    <div style="float:left;width:49%;">
        <button class="button  button-royal button-block" ng-click="signup()">SIGN UP</button>
    </div>
    <div style="float: right;width:49%;">
        <button class="button  button-royal button-block" ng-click="login()">LOG IN</button>
    </div>
    </div>
    
    <div style="clear:both;"></div>


</ion-content>
</ion-view>
