<ion-view view-title="Payment">
  <ion-content>

    <p class="bar bar-header bar-energized" ng-if="data.paymentMessage">
        {{data.paymentMessage}}
    </p>

      <div class="row">
        <div class="card col">

          <div class="item item-text-wrap">

              <div class="row" ng-if="data.order.subtotal">
                <div class="col text-left">Subtotal:</div> <div class="col">Rs. {{data.order.subtotal}}</div>
              </div>

              <div class="row" ng-if="data.order.delivery_charge">
                <div class="col text-left">Delivery Charge:</div> <div class="col">Rs. {{data.order.delivery_charge}}</div>
              </div>

              <div class="row" ng-if="data.order.cgst">
                <div class="col text-left">CGST @ {{data.order.cgst_percentage}}%:</div> <div class="col">Rs. {{data.order.cgst}}</div>
              </div>

              <div class="row" ng-if="data.order.sgst">
                <div class="col text-left">SGST @ {{data.order.sgst_percentage}}%:</div> <div class="col">Rs. {{data.order.sgst}}</div>
              </div>

              <div class="row" ng-if="data.order.promo">
                <div class="col text-left">Coupon:</div> <div class="col">Rs. {{data.order.promo_discount}}</div>
              </div>

              <div class="row" ng-if="data.order.wallet_total">
                <div class="col text-left">Wallet:</div> <div class="col">Rs. {{data.order.wallet_total}}</div>
              </div>

              <div class="row">
                <div class="col text-left"><strong>Total:</strong></div> <div class="col">Rs. {{data.order.total}}</div>
              </div>

          </div>

        </div>
      </div>

      <div class="row row-no-padding" ng-if="!data.order.promo">
        <div class="card col">

          <div class="item item-text-wrap">

            <div class="list">

              <div class="item item-input">
                <input type="text" placeholder="Have Coupon?" ng-model="data.coupon">
                <button class="button button-small" ng-click="applyCoupon()">
                  Apply
                </button>
              </div>

            </div>

          </div>

        </div>
      </div>

      <div class="row row-no-padding">
          <div class="card col">

            <div class="item item-input item-select item-text-wrap">

              <div class="input-label">
                Payment Method
              </div>

              <select ng-model="data.paymentMethod">
                <option value="cod" selected>Cash On Delivery</option>
                <option value="online_icici">Online Payment ( ICICI )</option>
              </select>
            </div>

          </div>
      </div>


  </ion-content>

  <ion-footer-bar  class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center">
        <button class="button button-royal button-block button-full text-center" ng-click="gotoReview()">Next</button>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
