<ion-view title="My Profile">
    <ion-content>
        <div class="list card">
              <div class="item item-avatar">
                <img src="{{user.profile_img}}">
                <h2>{{user.name}}</h2>
                <p>{{user.mobile}}</p>
                <p>{{user.email}}</p>
              </div>

              <div class="item item-body">
                <p>
                      <button class="button button-stable button-full" ng-click="editProfile()">Edit Profile</button>
                </p>
                <p>
                    <button class="button button-stable button-full" ng-click="manageAddress()">Manage Address</button>
                </p>
                <p>
                  <button class="button button-stable button-full" ng-click="mywallet()">My Wallet</button>
                </p>
              </div>
        </div>
    </ion-content>
</ion-view>
