<ion-nav-bar class="bar-stable">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-chevron-left"  ng-click="goBack()">
       Back
    </button>
  </ion-nav-buttons>
  </ion-nav-bar>

    <ion-content has-header="true" style="padding:10px;margin-top:50px;">
        <h3>{{title}}</h3>
        <div ng-bind-html="content">

        </div>
    </ion-content>
