<ion-view title="My Wallet">
  <ion-content>
    <h3 class="title padding text-center">Current Balance: Rs. {{walletDetails.balance}}</h3>
    <form name="addWalletFundForm" novalidate>
      <div class="row">
        <div class="col">
          <label class="item item-input large">
            <input type="tel" placeholder="Enter Amount" required ng-model="wallet.fundAmount" value="1" />
          </label>
          <label class="has-error form-error" ng-if="user_errors.first_name.length > 0"> {{user_errors.first_name[0]}}</label>
        </div>
        <div class="col">
          <button class="button button-royal" ng-click="fundWallet()">Add Fund</button>
        </div>
      </div>
    </form>

    <div class="wallet-entries" ng-if="walletDetails.balance" >
      <div class="row header">
        <div class="col">Date</div>
        <div class="col">Amount</div>
        <div class="col">Reason</div>
      </div>
      <div class="row" ng-repeat="entry in walletDetails.entries" >
        <div class="col">{{entry.created_on | date: 'dd-M-yyyy'}}</div>
        <div class="col">{{entry.amount}}</div>
        <div class="col">{{entry.reason}}</div>
      </div>
    </div>


  </ion-content>
</ion-view>
