<ion-view title="Wash Details">
  <ion-header class="bar bar-subheader washTotal">
      Total Quantity : {{model.totalQuantity}}
      <a class="button button-small button-clear button-dark" style="vertical-align:middle;margin-left:16px;" ng-click='showQtyDetails()'>View details</a>
  </ion-header>
  <ion-content class="has-subheader">
      <div class="button-bar">
        <a class="button button-royal delivery-tab" ng-class="{'active': activeTab == 'schedule'}" ng-click="setTab('schedule')">
          <span style="display:block;">
            <i class = "icon icon ion-checkmark-circled" ng-if="activeTab == 'schedule'">&nbsp;</i>STANDARD
            </span>
          <!--<span style="font-size:0.7rem;" ng-if="standard_delivery_charge">Delivery Charge Rs. {{standard_delivery_charge}}</span>-->
          <span style="font-size:0.7rem;" ng-if="standard_delivery_charge">Delivery in 24 hrs</span>
        </a>
        <a class="button button-royal delivery-tab" ng-class="{'active': activeTab == 'quick'}" ng-click="setTab('quick')">
          <span style="display:block;">
            <i class = "icon icon ion-checkmark-circled" ng-if="activeTab == 'quick'">&nbsp;</i>QUICK WASH
            </span>
          <!--<span style="font-size:0.7rem;" ng-if="quick_delivery_charge">Delivery Charge Rs. {{quick_delivery_charge}}</span>-->
          <span style="font-size:0.7rem;" ng-if="quick_delivery_charge">Delivery in 6 hrs</span>
        </a>
      </div>
        <div class="washDetailsContainer">
            <ion-list>

            <div class="washSection" ng-repeat="section in formData.sections">
                <ion-item class="item-stable"
                    ng-click="toggleGroup(section.title)"
                    ng-class="{active: isGroupShown(section.title)}">
                <i class="icon" ng-class="isGroupShown(section.title) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                {{section.title|uppercase}}
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(section.title)">
                <!-- <h3 class="washSectionTitle">{{section.title|uppercase}}</h3> -->

                <div ng-repeat="(name, section_data) in section.data">

                  <h4 class="washName" style="padding-bottom:10px; font-size:1em;">{{name}}</h4>

                  <table class="pricing-table">
                      <tr ng-repeat="service_type in section_data.service_types" style="font-size:0.7em;" >
                              <td style="width:55%"> {{service_type.label}} </td>
                              <td style="width:20%">Rs. {{service_type.price}}</td>
                              <td>
                                  <table>
                                      <tr>
                                          <td >
                                             <a ng-click="decr_qty(service_type.id, section.title)" class="button button-small button-icon icon ion-ios-minus-outline"></a>
                                         </td>
                                          <td >
                                            {{formData.price_qty[service_type.id]['qty']}}
                                        </td>
                                          <td>
                                            <a ng-click="incr_qty(service_type.id, section.title)" class="button button-small button-icon icon ion-ios-plus-outline"></a>
                                        </td>

                                      </tr>
                                  </table>
                                    <div class="row">

                                    </div>
                              </td>
                      </tr>
                  </table>


                </div>
                </ion-item>
            </div>

            </ion-list>
        </div>
  </ion-content>

  <ion-footer-bar  class="bar-royal">
    <div class="row row-center buttons-big">
      <div class="col col-center">
        <button class="button button-royal button-block button-full text-center" ng-click="gotoSchedule()">Next</button>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
