.washTotal {
  font-size: 20px;
  text-align: center;
  padding-top: 11px;
  background-color: #ebe8fd;
}

.introSlide {
    height: 100%;
    width: 100%;
    min-height: 200px;
    position: relative;
}

.introSlideBg {
    height: 100%;
    position:relative;
    background-size: cover;
    background-position: center;
}

#introBg1 {
  background: url("../img/introBg1.jpg")no-repeat;
}

#introStep1 {
  background: url("../img/lm_step1.jpg")no-repeat;
}

#introStep2 {
  background: url("../img/lm_step2.jpg")no-repeat;
}

#introStep3 {
  background: url("../img/lm_step3.jpg")no-repeat;
}

#introStep4 {
  background: url("../img/lm_step4.jpg")no-repeat;
}

#introStep5 {
  background: url("../img/lm_step5.jpg")no-repeat;
}

.introSlideContainer {
}

.slider {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.slider-slide {
  color: #000;
  background-color: #ddd;
}

.button.ng-hide{
  display:none;
}

.card, .scroll{
  height: 100%;
  min-height: 100%;

}

.buttons-big .button {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  border-right: white;
}

label.item.has-error {
  border-bottom: 2px solid red;
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

.washDetailsContainer {
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
}

.washSectionTitle {
  font-size: 1.5em;
  font-weight: 300;
  color: #646464;
}

.washName {
  font-size: 1em;
  padding-bottom: 10px;
}

.washService {
  font-size: 1em;
  font-weight: 300;
}

.slot-select select {
  position: relative;
  max-width: 100% ;
  padding: 0;
}

.item-select select {
  direction: ltr;
}

.app-version {
    color: #c7c7c7;
    position: absolute;
    left: 100px;
    top: 35px;
}

.has-no-header {
    top: 0;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.pricing-table {
    font-size: 0.9em;
    font-weight: 400;
}

.delivery-tab span {
  display: block;
}

.delivery-text {
    font-size: 8pt;
}

.wordwrap
{
  /* wrap long text and urls */
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word; /* IE 5+ */
} 


$main-menu-color: #bdb1d2;

ion-side-menu
{
    ion-list.menu-list {
        padding-top: 0;
    }

    .heading-item
	{
		.item-content
		{
			background-color: $main-menu-color;
            height: 100px;
		}

        .user-image-container
		{
			width:100px;
			position: absolute;
		    top: 1px;
		    left: 5px;

			.user-image
			{
				border-radius: 50%;
				padding: 8px;
				width: 100%;
			}
		}

		.greeting
		{
			color: #000000;
            font-weight: 500;
            position: absolute;
            left: 110px;
            top: 30px;
		}

		.message
		{
			color: #000000;
            font-size: 12px;
            position: absolute;
    		left: 110px;
    		top: 50px;
		}
    }
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
